@page
@model Gadevang_Tennis_Klub.Pages.Informations.CourtRulesModel
@{
    ViewData["Title"] = "CourtRules";
}

<style>
    /* Makes all the numbers is the ordered list bold */
    ol li::marker {
        font-weight: bold;
    }
</style>


<div class="card p-3 mx-auto" style="width:65%">
    <h1>Banepleje - fejning - vanding:</h1>

    <div>
        <p>
            Gode baner er til glæde for alle, og disses høje kvalitet er en forudsætning for at få det optimale ud af spillet. 
            Derfor skal de vedligeholdes efter hvert spil.

            <br /><br />

            For at banerne skal holde sig så gode som muligt gennem sæsonen, er der opstillet nogle simple
            ordensregler, som medlemmerne <strong>skal</strong> følge:


            <ol style="margin-left: 15px;">
                <li>Spil kun med tennissko.</li><br />
                <li>Spil aldrig på en tør bane (banen bliver løs). Vand om nødvendigt.</li><br />
                <li>Spil aldrig på en meget våd bane. Banen bliver hullet og ujævn og næsten umulig at reparere (hvis der står vand, må det kun fjernes med svampe).</li><br />
                <li>Udjævn eventuelle huller i banen med det samme. Skrab hullet sammen med foden og tryk det fast.</li><br />
                <li>Udjævn banen efter spillet. Fej derefter med den brede kost og derefter fejes linierne med en liniefejer - fej både single- og doublelinier.</li><br />
                <li>Sæt redskaberne på plads - ryd op efter dig.</li><br />
            </ol>
        </p>
    </div>

    <br />

    <div>
        <h5>Sådan fejer man baner i Gadevang Tennisklub:</h5>
        <p>
            Banerne fejes så gruset bliver på banerne. Start i yderkanten af banen og fej rundt på den ene halvdel, 
            indtil du og kosten er inde på midten af banehalvdelen. Fortsæt derfra videre ud over sidelinjen - 
            se instruksen på skiltene som hænger ved banerne.
            
            <br />

            Linjerne fejes og banen vandes.
        </p>
    </div>

    <br />

    <div>
        <h5>Vandingsanlægget:</h5>
        <p>
            Vandingsanlægget kan betjenes manuelt fra betjeningsboksen i skuret ved klubhuset.

            <br />

            Den enkelte bane kan vandes separat (max. 1-2 minutter).

            <br />

            Vejledning til brug af vandingsanlægget findes ved betjeningsboksen i skuret ved klubhuset.

            <br />

            Du kan også vælge at benytte slangerne som ligger på banen.

            <br /><br />

            Hvis du er i tvivl om, hvordan banerne skal passes, opstår der et akut  problem er du velkommen til at kontakte bestyrelsen.
        </p>
    </div>

    <br />

    <div>
        <h5>Husk! God banepleje gavner os alle</h5>
    </div>
</div>