@page
@model Gadevang_Tennis_Klub.Pages.Informations.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}

<div class="container-fluid p-0 m-0">
    <div class="row align-items-start">
        <div class="col-md-7">
            <div class="card p-3 mx-auto">
                <h1>Om Os</h1>
                <div>
                    <p>
                        Gadevang Tennisklub er et lokalt forankret idrætsklub, der drives 100% af frivillige kræfter. <br />
                        <br />
                        Tennisklubben giver god mulighed for at spille tennis både i foråret, sommeren og i efteråret. 
                        Lige nu råder klubben over 3 grusbaner, som alle medlemmer har mulighed for at booke. <br />
                        <br />
                        Udover at stille tennisbaner til rådighed, tilbyder klubben ligeledes træning og forskellige samspil events, 
                        som “Grill og tennis” og introdage, hvor nye medlemmer kan blive introduceret til sporten. <br />           
                        <br />
                        Sæsonen afsluttes af en årlig turnering, hvor der spilles om klubmesterskabet i rækkerne A, B og C niveauer. Ved sæsonafslutningen er der fest i det lokale forsamlingshus.
                    </p>
                </div>

                <br />

                <h5>Generelle oplysninger om klubben</h5>
                <div>
                    <p>
                        Klubbens juridiske navn: GADEVANG TENNISKLUB
                        <br />
                        Selskabsform: Forening
                        <br />
                        CVR-nummer: 77531513
                    </p>
                </div>

                <br />

                <h5>Kontaktoplysninger</h5>
                <div>
                    <a href="mailto:info@gadevangtennisklub.dk">info@gadevangtennisklub.dk</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 ms-auto">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2044.1011200492053!2d12.274561689834544!3d55.964960606442716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46523f9c37112b73%3A0x10a943383248c7b0!2sGadevangsvej%20145B%2C%203400%20Hiller%C3%B8d!5e1!3m2!1sda!2sdk!4v1747219998319!5m2!1sda!2sdk"
                        width="100%"
                        style="aspect-ratio: 4 / 3; border: 0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <p>
                    <strong>Adresse:</strong> <br />
                    Gadevangsvej 145B <br />
                    3400 Hillerød
                </p>
                <a href="https://maps.app.goo.gl/cuE9Hu8AhHHqV4Rx6" target="_blank" rel="noopener noreferrer">Link til google</a>
            </div>
        </div>
    </div>
</div>