@page
@model Gadevang_Tennis_Klub.Pages.Informations.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}

<div class="card p-3 mx-auto" style="width:65%">
    <h1>Om Os</h1>

    <div>
        <p>
            Gadevang Tennisklub er et lokalt forankret idrætsklub, der drives 100 % af frivillige kræfter. <br />

            <br />

            Tennisklubben giver god mulighed for at spille tennis både i foråret, sommeren og i efteråret. 
            Lige nu råder klubben over 3 grusbaner, som alle medlemmer har mulighed for at booke. <br />

            <br />

            Udover at stille tennisbaner til rådighed, tilbyder klubben ligeledes træning og forskellige samspil events, 
            som “Grill og tennis” og introdage, hvor nye medlemmer kan blive introduceret til sporten. <br />
            
            <br />

            Sæsonen afsluttes af en årlig turnering, hvor der spilles om klubmesterskabet i rækkerne A, B og C niveauer. Ved sæsonafslutningen er der fest i det lokale forsamlingshus.

        </p>
    </div>
</div>