@page
@model DeleteMemberBookingModel
@{
    ViewData["Title"] = "Delete Booking";
}
<h1>Er du sikker på at du vil slette denne booking?</h1>
@{
    var booking = await Model.CourtBookingDB.GetCourtBookingByIDAsync(Model.BookingId);
    <p>@($"Booking på bane #{booking.Court_ID} på {booking.Date} fra klokken {booking.Timeslot + 6}.00 til {booking.Timeslot + 7}.00 med {booking.Participants.Count} deltagere")</p>
}
<form method="post">
    <input hidden value="@Model.BookingId" id="bookingId" />
    <input type="submit" class="button" value="Slet"/>
</form>
<a asp-page="/User/MyPage">Tilbage</a>