@page
@model Gadevang_Tennis_Klub.Pages.Forum.CreateAnnouncementModel
@{
    ViewData["Title"] = "Create Announcement";
}
<div class="d-flex justify-content-between align-items-center">
    <h1>Opret Opslag</h1>
    <a asp-page="GetAllAnnouncements" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="NewAnnouncement.Title" class="form-label"></label>
        <input asp-for="NewAnnouncement.Title" class="form-control" placeholder="Titel" />
        <span asp-validation-for="NewAnnouncement.Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewAnnouncement.Text" class="form-label"></label>
        <textarea asp-for="NewAnnouncement.Text" class="form-control" placeholder="Beskrivelse..."  rows="5"></textarea>
        <span asp-validation-for="NewAnnouncement.Text" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewAnnouncement.Type" class="form-label"></label>
        <select asp-for="NewAnnouncement.Type" class="form-select">
            <option value="">-- Vælg type --</option>
            <option value="Service">Service</option>
            <option value="Partner">Partner</option>
            <option value="General">General</option>
        </select>
        <span asp-validation-for="NewAnnouncement.Type" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Opret <i class="fas fa-check"></i></button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}