@page "{id:int}"
@model Gadevang_Tennis_Klub.Pages.Forum.UpdateAnnouncementModel
@{
    ViewData["Title"] = "Opdater Besked";
}
<div class="d-flex justify-content-between align-items-center">
    <h1>Opdater Opslag</h1>
    <a asp-page="GetAllAnnouncements" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
</div>


<form method="post">
    <input type="hidden" asp-for="AnnouncementToUpdate.Id" />

    <div class="mb-3">
        <label asp-for="AnnouncementToUpdate.Title" class="form-label"></label>
        <input asp-for="AnnouncementToUpdate.Title" class="form-control" />
        <span asp-validation-for="AnnouncementToUpdate.Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AnnouncementToUpdate.Text" class="form-label"></label>
        <textarea asp-for="AnnouncementToUpdate.Text" class="form-control" rows="4"></textarea>
        <span asp-validation-for="AnnouncementToUpdate.Text" class="text-danger"></span>
    </div>
@* 
    <div class="mb-3">
        <label asp-for="AnnouncementToUpdate.Type" class="form-label"></label>
        <select asp-for="AnnouncementToUpdate.Type" class="form-select">
            <option value="">-- Vælg type --</option>
            <option value="Service">Service</option>
            <option value="Partner">Partner</option>
            <option value="General">General</option>
        </select>
        <span asp-validation-for="AnnouncementToUpdate.Type" class="text-danger"></span>
    </div>
 *@
@*     @if (Model.IsAdmin && Model.AnnouncementToUpdate.Type == "Service")
    {
        <div class="form-check">
            <label asp-for="AnnouncementToUpdate.Actual" class="form-label">Er aktuel?</label>
            <select asp-for="AnnouncementToUpdate.Actual" class="form-select" >
                <option value="true">Sandt</option>
                <option value="false">Falsk</option>
            </select>
        </div>
    }
 *@
    <button type="submit" class="btn btn-success mt-3">Gem ændringer <i class="fas fa-floppy-disk"></i></button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}