@page
@model Gadevang_Tennis_Klub.Pages.Teams.DeleteTeamModel
@{
    ViewData["Title"] = "Delete Team";
}

<h2>Slet Hold</h2>
<a asp-page="GetAllTeams" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>

@if (Model.Teams == null || !Model.Teams.Any())
{
    <p>No teams available.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.Teams)
            {
                <tr>
                    <td>@team.Name</td>
                    <td>@team.Description</td>
                    <td>
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" name="teamID" value="@team.ID" />
                            <button type="submit" onclick="return confirm('Delete this team?');">Slet <i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
