@page
@model Gadevang_Tennis_Klub.Pages.User.LogoutModel
@{
    ViewData["Title"] = "Logud";
}


<h1>Logud</h1>

<p>Er du sikker på at du ønsker at logge ud?</p>

<form asp-page-handler="logout" method="post">
    <Input type="submit" value="Log af" class="btn btn-success" />
</form>